<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script type="text/javascript" src="/static+/js/channel.js"></script>
		<script type="text/javascript" src="/static+/js/json2.js"></script>
	</head>
	<body>
		<script>
var socket;

//function explicate(obj) {
//	out = [];
//	for (var k in obj) {
//		if (obj.hasOwnProperty(k)) {
//			switch(typeof(obj[k])) {
//				case 'object':
//					out.push(k+": "+explicate(obj[k]));
//					break;
//				default:
//					out.push(k+": "+explicate(obj[k]));
//					break;
//			}
//		}
//	}
//	return " {" + out.join(", ") + " }";
//}

function newClaim(text) {
	$("#claimtable").append($("<tr><td>"+text+"</td></tr>"));
}

function handleSocketOpened() {
	socket.send("join:");
	$('#grabform').submit(function() {
		socket.send("grab:"+$("#username").val());
		return false;
	});
	$('#grabbutton').removeAttr("disabled");
}

$(function() {
	var initialClaims = <%= claims %>.a;
	for (var i = 0; i < initialClaims.length; ++i) {
		newClaim(initialClaims[i].text);
	}
	socket = new WebSocket("integergrab.test-"+Math.random());
	socket.onopen = function() {
		handleSocketOpened();
	}
	socket.onmessage = function(evt) {
		var msg = JSON.parse(evt.data);
		if (msg.type == "claim") {
			newClaim(msg.text);
		}
	}
	socket.open()

	$("body").keypress(function(evt) {
		if (evt.keyCode == 13) {
		  $("#grabform").submit();
		  evt.preventDefault();
		}
	});
});
		</script>
		<table id="claimtable">
			<tr><td></td></tr>
		</table>
		<form action="#" id="grabform">
			<input type="submit" name="Grab" value="Grab" id="grabbutton" disabled="disabled" />
		</form>
		<p>Name: <input type="text" id="username" /></p>
	</body>
</html>
