/*-----
 Reset
-----*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 1em;
		font-family: inherit;
		vertical-align: baseline;
	}
	:focus {
		outline: 0;
	}
	body {
		line-height: 1;
		color: #333;
		background: #f7f7f7;
		font-size: 75%;
	}
	html>body {
		font-size: 12px;
	}
	ol, ul {
		list-style: none;
	}
	table {
		border-collapse: separate;
		border-spacing: 0;
	}
	caption, th, td {
		text-align: left;
		font-weight: normal;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: "";
	}
	blockquote, q {
		quotes: "" "";
	}

/*----------------------------------------------------------------*/
/* global */
/*----------------------------------------------------------------*/
a.obfuscemail {
   text-decoration: none;
}

a:link,a:visited {
   text-decoration: none;
   color: #004ca8;
}
a:hover {
   text-decoration: underline;
   color: #005CCB;
}
.clear {
   clear: both;
}
em {
   font-style: italic;
}
strong {
   font-weight: bold;
}

/*----------------------------------------------------------------*/
/* newpad button */
/*----------------------------------------------------------------*/

.fpcontent .newpadbuttonwrap {
   width: 152px;
   height: 35px;
   background: url(/static/img/davy/btn/createpad-small.gif) no-repeat bottom left;
}
.fpcontent .newpadbuttonwrap a {
   width: 152px;
   position: relative;
   padding: 35px 0 0 0;
   overflow: hidden;
   background: transparent url(/static/img/davy/btn/createpad-small.gif) no-repeat top left;
   height: 0px;
   display: block;
}

/*----------------------------------------------------------------*/
/* 500 error page */
/*----------------------------------------------------------------*/
#errorpage .error500 {
   font-size: 1em;
   background: #fcc;
   border: 1px solid #f00;
   padding: 1em;
   margin: 1em 2em;
   font-weight: bold;
}

/*----------------------------------------------------------------*/
/* padviewpage */
/*----------------------------------------------------------------*/
body#padviewbody {
   background-color: #ebebeb;
}
#padviewpage a {
   text-decoration: underline;
}
#padviewpage #padviewheader {
   margin: 8px;
   padding: 8px;
   border: 1px solid #ccc;
   background-color: #e0e0ff;
   line-height: 160%;
}
#padviewpage #padviewheader h1 {
   font-weight: bold;
   font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
   font-size: 2em;
}
#padviewpage .metadata {
   color: #333;
}
#padviewpage .rlabel {
   font-weight: bold;
}
#padviewpage p {
   margin-top: 2px;
}
#padviewpage #padcontent {
   border: 1px solid #ccc;
   margin: 8px;
   padding: 8px;
   font-family: sans-serif;
   font-size: 12px;
   background-color: #fff;
   line-height: 130%;
}
#padviewpage #padviewfooter {
   margin: 8px;
   padding: 8px;
   font-size: 12px;
}


#padviewpage #export td.exportpic a img {
   border: 0;
}

#padviewpage #export a.disabledexport {
  color: gray;
	text-decoration: none;
}

#padviewpage #export {
   font-size: 1em;
}

#padviewpage #export .exportlink {
   margin: 2px 0;
}

#padviewpage #export td.exportpic {
	padding-left: 10px;
}

#padviewpage #export td.labelcell {
  padding-left: 4px;
}

#export img {
	vertical-align: middle;
	padding: 4px;
	padding-bottom: 8px;
	padding-left: 3px;
}

#export span.titlelabel {
	vertical-align: top;
	padding-right: 12px;
	font-size: 1.3em;
	color: rgb(0, 0, 0);
	font-weight: bold;
	margin-top: 10px;
}

#export td.labelcell a {
	
	vertical-align: middle;
	font-size: 1em;
	padding-right: 12px;
	color: rgb(0, 52, 143);
	font-weight: bold;
}

/*----------------------------------------------------------------*/
/* product page */
/*----------------------------------------------------------------*/

#productpage p {
  font-size: 1.2em;
  color: #333;
}

#productpage h1 {
}

#productpage h2 {
  font-size: 1.6em;
  font-weight: bold;
  font-family: inherit;
  color: #399;
  font-style: italic;
  border-bottom: 1px solid #399;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}

#productpage #howuse {
  margin-left: 80px;
  margin-right: 80px;
}

#productpage #howuse p {
  font-size: 1.2em;
  line-height: 150%;
}

#productpage .tourbar { width: 100%; }
#productpage .tourbar td { padding: 3px; }
#productpage .tourbar .left { text-align: left; font-weight: bold; font-size: 1.6em; }
#productpage .tourbar .right { text-align: right; }

#productpage .tourbar a {
  color: #33f;
  font-size: 1.4em;
  font-weight: bold;
}

#productpage #tourtop { border-bottom: 1px solid #999; }
/* #productpage #tourbot { border-top: 1px solid #999; } */

#productpage #pageshot img {
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}

#productpage .javascripton #tourbody {
  /*height: 650px;*/
  padding-top: 1px;
  padding-bottom: 1px;
}
#productpage .javascripton .tourprose {
  display: none;
}
#productpage #usecases table {
  height: 300px;
  padding: 20px auto;
  border: 1px solid #aaa;
  width: 100%;
}
#productpage #usecases td {
  vertical-align: top;
}

#productpage #usecases p {
  font-family: Georgia, serif;
  font-size: 1.3em;
  line-height: 1.3;
}

#productpage #usecases h3 {
  padding: 0; margin: 0;
  font-weight: bold;
  color: black;
  font-family: inherit;
  font-size: 1.6em;
  margin-top: 0.5em;
}

#productpage #usecases strong {
  font-style: normal;
  font-weight: normal;
  background-color: #ffc;
}

#productpage #usecases p.intro { margin: 0.5em 0;}

#productpage #usecases #prosecell {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  border-left: 1px solid #ccc;
  background: #fff url(/static/img/oct/insetrect.gif) no-repeat right top;
}

#productpage #usecases #prosecell p {
  padding: 0;
  margin: 0;
  margin-bottom: 0.8em;
}

#productpage .showpageshot #usecases { display: none; }
#productpage .showusecases #pageshot { display: none; }

#productpage #tourleftnavcell { width: 200px; }

#productpage ul#tourleftnav { margin: 0; padding: 0; list-style: none; }
#productpage ul#tourleftnav li { margin: 0; padding: 0; background: #fff; }
#productpage ul#tourleftnav li a { color: #33f; text-decoration: none; }
#productpage ul#tourleftnav li a:hover { text-decoration: underline; }
#productpage ul#tourleftnav li a { outline: none; }
#productpage ul#tourleftnav li { background: url(/static/img/oct/usecasesnavup.gif) repeat-x left center; border-bottom: 1px solid #ccc; }
/*#productpage ul#tourleftnav li:hover { background: url(/static/img/oct/usecasesnavuph.gif) repeat-x left center; }*/
#productpage ul#tourleftnav li.selected { background: url(/static/img/oct/usecasesnavdown.gif) repeat-x left center }
/*#productpage ul#tourleftnav li.selected:hover { background: url(/static/img/oct/usecasesnavdownh.gif) repeat-x left center; }*/
#productpage ul#tourleftnav li.selected a { color: #000; background: url(/static/img/oct/tinytriangle.gif) no-repeat 95% center; }

#productpage #tourleftnav a {
  font-size: 1.2em;
  padding: 0.4em 0.4em;
  display: block;
  font-weight: bold;
  font-family: inherit;
  font-style: italic;
  cursor: pointer;
}

.fpcontent .newpadbuttonwrap {
   margin: 0 auto;
}


/*----------------------------------------------------------------*/
/* faq page */
/*----------------------------------------------------------------*/
#faqpage hr {
   width: 100%;
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
   color: #ccc;
}
div#faqpage h2 {
   border-bottom: 1px solid #aaa;
   margin: 0;
}
#faqpage div.answer {
   color: #222;
   padding: 1em;
}
#faqpage ul.qlist { margin: 2em 0 4em 1.4em; }
#faqpage ul.qlist li { margin: .5em 0; }

/*----------------------------------------------------------------*/
/* contact page */
/*----------------------------------------------------------------*/
#contactpage div.cbox {
   padding: 1em;
   margin: 2em 0;
   width: 330px;
   height: 200px;
}
#contactpage h2 {
   margin: 0;
}
#contactpage #boxleft {
   float: left;
   margin-left: 1em;
}
#contactpage #boxright {
   float: right;
   margin-right: 1em;
}
#contactpage #boxright p {
   font-size: 1.4em;
   font-family: serif;
   color: #222;
   padding-left: 2em;
}

/*----------------------------------------------------------------*/
/* create pad */
/*----------------------------------------------------------------*/
#createpadpage form {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #ddd;
   background: #eef;
   font-size: 1.8em;
   text-align: center;
   padding: 2em;
}
#createpadpage #padurl {
   background: #fff;
   border: 1px solid #ccc;
   padding: 1em;
}
#createpadpage input {
   font-size: 1.8em;
}
/*----------------------------------------------------------------*/
/* pad full */
/*----------------------------------------------------------------*/
#padfullpage #msg {
   margin: 2em 0;
   padding: 2em;
   background: #eee;
   border: 1px solid #aaa;
   font-size: 1.3em;
}
#padfullpage #padurlwrap {
   text-align: center;
   margin-bottom: 3em;
}
#padfullpage #padurl {
   background: #fff;
   border: 1px solid #ccc;
   padding: 1em;
}
/*----------------------------------------------------------------*/
/* time slider */
/*----------------------------------------------------------------*/

body#padsliderbody {
   font-size: 1.2em;
   padding: 20px;
   background-color: #fff;
}

#padsliderbody #stuff {
  width: 600px;
  margin-top: 10px;
}

#padsliderbody #sliderui {
  margin: 10px;
}

#padsliderbody #controls {
  background: #eee;
  padding: 5px;
  border: 1px solid #999;
}

#padsliderbody #currevdisplay {
  margin-top: 3px;
}

#padsliderbody #controls a {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

#padsliderbody #stuff {
  padding: 5px;
}

