
#home {
  width: 888px;
  margin-left: auto;
  margin-right: auto;
  font-size: 120%;
}

#heading {
  margin: 3em 0 1.5em 0;
}
#heading h1 {
  font-size: 350%;
  font-weight: bold;
}
#heading #subtitle {
  color: #555;
  font-style: italic;
  font-size: 120%;
}
#heading #subtitle a {
  color: #506980;
}

#buttons {
}

a.button {
  border: 1px solid #ccc;
  font-size: 120%;
  padding: 1em;
  margin: 1em 1em 1em 0;
  display: block;
  float: left;
  background: #eee;
}

a.button:hover {
  background: #afa;
}

#footer {
  margin-top: 3em;
}




